@page "/team/{teamId:int}"
@using GolfMatchScore.Shared.Models.Player
@using GolfMatchScore.Shared.Models.Team
@attribute [Authorize]
@inject HttpClient http


@if (team == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@team.TeamSchool</h3>
    <h4>Team Information</h4>

    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>@team.TeamSchool</span>
            </div>
            <div class="card-body">
                <p class="card-text">Coach: @team.TeamCoachFirstName @team.TeamCoachLastName</p>
                <p class="card-text">Player List</p>
                @foreach (var player in @team.Players)
                {
                    <p class="card-text">@player.PlayerFirstName @player.PlayerLastName</p>
                }
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="text-center justify-content-between w-25">
                    <a href=@($"/team/edit/{teamId}") class="btn btn-outline-primary">Edit</a>
                    <a href=@($"/team/delete/{teamId}") class="btn btn-outline-danger">Delete</a>
                    <hr />
                    <a href="/team">Back to Team Index</a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int teamId { get; set; }
    public TeamDetail team { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        team = await http.GetFromJsonAsync<TeamDetail>($"/api/team/{teamId}");
    }
}
