@page "/course/{courseId:int}"
@using GolfMatchScore.Shared.Models.Course
@using GolfMatchScore.Shared.Models.GolfRound
@attribute [Authorize]
@inject HttpClient http


@if (course == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@course.CourseName</h3>
    <h4>Course Information</h4>
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>@course.CourseName</span>
            </div>
            <div class="card-body">
                <p class="card-text">Par: @course.CoursePar</p>
                <p class="card-text">Course Length (yds): @course.CourseLength</p>
                <p class="card-text">Course Slope: @course.CourseSlope</p>
                <p class="card-text">Course Rating: @course.CourseDifficultyRating</p>
                <p class="card-text">List of Rounds</p>
                @foreach (var round in @course.Rounds)
                {
                    <p class="card-text">@round.MatchDate.ToShortDateString()</p>
                }
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-center">Location: @course.CourseCity, @course.CourseState</span>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="text-center justify-content-between w-25">
                    <a href=@($"/course/edit/{courseId}") class="btn btn-outline-primary">Edit</a>
                    <a href=@($"/course/delete/{courseId}") class="btn btn-outline-danger">Delete</a>
                    <hr />
                    <a href="/course">Back to Course Index</a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int courseId { get; set; }
    public CourseDetail course { get; set; }
    public RoundListItem round { get; set; }

    protected override async Task OnInitializedAsync()
    {
        course = await http.GetFromJsonAsync<CourseDetail>($"/api/course/{courseId}");
    }
}
