@page "/round/delete/{roundId:int}"
@using GolfMatchScore.Shared.Models.GolfRound
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation


@if (message != null)
{
    <h2 class="text-danger">@message</h2>
}

@if (round != null)
{
<h3>Delete Round Confirmation</h3>
    <div class="container">
        <div class="card-header d-flex justify-content-between">
            <span>Round Date: @round.MatchDate.ToShortDateString()</span>
        </div>
        <div class="card-body">
            <p>Round Score: @round.MatchScore</p>
            <p>Course: @round.Course.CourseName</p>
            <p>Player: @round.Player.PlayerFirstName @round.Player.PlayerLastName</p>
            <p>School: @round.Player.Team.TeamSchool</p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <div class="text-center justify-content between w-50">
            <a href=@($"/round/{roundId}") class="btn btn-outline-primary">Back to Round</a>
            <a href=# @onclick="HandleClick" class="btn btn-danger text-white">Delete Round</a>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int roundId { get; set; }
    public RoundDetails round { get; set; }
    public string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        round = await http.GetFromJsonAsync<RoundDetails>($"/api/golfround/{roundId}");
    }

    private async void HandleClick()
    {
        var deleteCourse = await http.DeleteAsync($"/api/golfround/delete/{roundId}");
        if (deleteCourse.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/round");
        }
        else
        {
            message = "Failed to remove course";
        }
    }
}
